<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        * { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
#myInput {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
    </style>


</head>

<body>
   
        <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-collapse navbar-collapse-1 collapse" aria-expanded="true">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                            </li>
                        </ul>
                        <div class="navbar-form navbar-right">
                            <form class="form-inline" action="/logout" method="POST">
                                <input type="submit" value="Logout" class="btn btn-info" role="button">
                            </form>
                        </div>
                        <!-- <div class="navbar-form navbar-right">
                            
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
        <div class="jumbotron">
            <p>Welcome <%=name %></p>
        </div>
        
        <form>
                <div class="dropdown">
                  <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">Add Courses<span class="caret"></span></button>
                  <ul class="dropdown-menu" >
                     <% for (var i = 0; i < courseResults.length; i++) { %> 
                        <li>
                            <a href="#" data-value="<%= courseResults[i]['courseId'] %>"><%= courseResults[i]['courseId'] %> - <%= courseResults[i]['courseName'] %></a>
                        </li>
                    <% } %>
                    
                  </ul>
                  </div>
                
        </form>

        <form class="form-inline" id="addForm" style="display:none;" action="/home" method="POST">
                <div class="form-group">
                  <label for="exampleInputName2">Course Id</label>
                  <input type="text" name="courseId" class="form-control" id="courseId" placeholder="Course Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">Start Time</label>
                  <input type="text" name="startTime" class="form-control" id="exampleInputEmail2" placeholder="17:00:00">
                </div>
                <div class="form-group">
                        <label for="exampleInputEmail2">End Time</label>
                        <input type="text" name="endTime" class="form-control" id="exampleInputEmail2" placeholder="20:00:00">
                      </div>
                <input type="submit" class="btn btn-default" value="Save"/>
        </form>
        <br/>
        <h2>My Courses</h2>
        
        <% for (var i = 0; i < enrolledCourses.length; i++) { %>
             
            <div class="container">
                <div class="panel panel-default">
                        <div class="panel-heading"><%= enrolledCourses[i]['enrolledCourseId'] %></div>
                        <div class="panel-body">
                          <%= enrolledCourses[i]['enrolledCourseName'] %>
                        </div>
                </div>
            
            </div>
           <% } %>   
   

           <div class="container">
               <form action="/home/getEvents" method="POST">
                   <input type="date" name="startDate" />
                  
                   <input type="submit" value="Get Events" />
               </form> 
           </div>
           <br/>
        </br>

        <h2>Events</h2>
        <% for(var i = 0; i < eventDetails.length; i++){ %>
            <div class="panel panel-default">
                    <div class="panel-heading"><%= eventDetails[i]['eventName'] %></div>
                    <div class="panel-body">
                      <%= eventDetails[i]['eventDescription'] %>
                    </div>
                   
            </div>
        <% } %>
     
        
       
              

        <!-- <form autocomplete="off" id="addForm" style="display:none;">
            <div class="autocomplete" style="width:300px;">
              <input id="myInput" type="text" name="myCountry" placeholder="Course Id">
              <input id="starttime" type="text" name="startTime" placeholder="17:00:00">
              <input id="endtime" type="text" name="endTime" placeholder="20:00:00">
            </div>
            
                
            
           
            <input type="submit" value="Save">
          </form> -->


   </div>
<script>
   $(".dropdown-menu li a").click(function(){
    $("#addForm").css('display','inline-block');
    var courseValue = $(this).text();
    var courseId = courseValue.substring(0,6);
    $("#courseId").val(courseId);
    console.log(courseId);
  });  
//   $("#addCourse").click(function(){
//     $("#addForm").css('display','inline');
//   });

  </script>
 <script>
        function autocomplete(inp, arr) {
          /*the autocomplete function takes two arguments,
          the text field element and an array of possible autocompleted values:*/
          var currentFocus;
          /*execute a function when someone writes in the text field:*/
          inp.addEventListener("input", function(e) {
              var a, b, i, val = this.value;
              /*close any already open lists of autocompleted values*/
              closeAllLists();
              if (!val) { return false;}
              currentFocus = -1;
              /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", this.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              this.parentNode.appendChild(a);
              /*for each item in the array...*/
              for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].substr(val.length);
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                  /*execute a function when someone clicks on the item value (DIV element):*/
                  b.addEventListener("click", function(e) {
                      /*insert the value for the autocomplete text field:*/
                      inp.value = this.getElementsByTagName("input")[0].value;
                      /*close the list of autocompleted values,
                      (or any other open lists of autocompleted values:*/
                      closeAllLists();
                  });
                  a.appendChild(b);
                }
              }
          });
          /*execute a function presses a key on the keyboard:*/
          inp.addEventListener("keydown", function(e) {
              var x = document.getElementById(this.id + "autocomplete-list");
              if (x) x = x.getElementsByTagName("div");
              if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
              } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
                }
              }
          });
          function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
          }
          function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
              x[i].classList.remove("autocomplete-active");
            }
          }
          function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
              if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
              }
            }
          }
          /*execute a function when someone clicks in the document:*/
          document.addEventListener("click", function (e) {
              closeAllLists(e.target);
          });
        }

        
       
        /*An array containing all the country names in the world:*/
        var countries = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia & Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central Arfrican Republic","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cuba","Curacao","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauro","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre & Miquelon","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","St Kitts & Nevis","St Lucia","St Vincent","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad & Tobago","Tunisia","Turkey","Turkmenistan","Turks & Caicos","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States of America","Uruguay","Uzbekistan","Vanuatu","Vatican City","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];
        
        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("myInput"), countries);
        </script>


</body>



</html>